<section
  class="bg-[#F5F5F5] mt-8 min-h-[10.25rem]"
  aria-label="Frequently Asked Questions"
>
  <div
    class="mx-auto max-w-[75rem] px-4 py-6 grid grid-cols-1 md:grid-cols-3 gap-4 min-h-[10.25rem]"
  >
    <article class="mx-auto max-w-[23.6875rem] w-full">
      <dl>
        <dt
          class="mb-1 font-sans font-semibold text-[0.75rem] leading-[1rem] text-[#293632] sm:text-center md:text-start"
        >
          How can I win?
        </dt>
        <dd
          class="font-sans font-normal text-[0.625rem] leading-[1rem] text-[#293632] sm:text-center md:text-start"
        >
          Thanks to your membership, you also participate in our contest to win
          the iPhone15. We sellect a winner among every 600 participants. The
          next winner will be selected on 06.10.2023, and will be notified
          directly by e-mail. If the reward is out of stock, the winner will
          receive a similar product of equal or greater value instead.
        </dd>
      </dl>
    </article>

    <article class="mx-auto max-w-[23.6875rem] w-full">
      <dl>
        <dt
          class="mb-1 font-sans font-semibold text-[0.75rem] leading-[1rem] text-[#242424] sm:text-center md:text-start"
        >
          No hidden fees?
        </dt>
        <dd
          class="font-sans font-normal text-[0.625rem] leading-[1rem] text-[#293632] sm:text-center md:text-start"
        >
          We ensure that our members are provided with a detailed history of
          transactions so that they know exactly what they are paying for.
          Credit card information is only required to facilitate future
          purchases. There will be no charges on your credit card statement if
          you do not upgrade to PREMIUM membership and do not make a purchase.
        </dd>
      </dl>
    </article>
    <article class="mx-auto max-w-[23.6875rem] w-full">
      <dl>
        <dt
          class="mb-1 font-sans font-semibold text-[0.75rem] leading-[1rem] text-[#293632] sm:text-center md:text-start"
        >
          Why do we need your billing information?
        </dt>
        <dd
          class="font-sans font-normal text-[0.625rem] leading-[1rem] text-[#293632] sm:text-center md:text-start"
        >
          By joining this service, you will receive a 5-day trial of our
          partner's program. If you continue with a subscription beyond the
          5-day trial period, you will be charged an amount on your credit card
          which varies depending on the choice of the tariff. When your
          contribution is deducted from your credit card or other payment
          method, you will have access to these services which are reserved
          exclusively for members of our partner's website.
        </dd>
      </dl>
    </article>
  </div>
</section>
