<!--
    https://stackoverflow.com/questions/9632311/which-html-tags-are-more-appropriate-for-money
    I decided to use data here, there are multiple options based on HTML5 specs.
-->
<div
  class="w-40 h-40 flex flex-col gap-2 justify-center bg-[#006340] rounded-full"
>
  <data
    class="font-sans font-bold text-[2.375rem] leading-[2.7831rem] text-white text-center"
    value="1.99">$1.99</data
  >
  <span
    class="font-sans font-normal text-[0.875rem] leading-[1.0256rem] text-white text-center"
  >
    Original value <data value="500.00">$500</data>
  </span>
</div>
